.container {
  padding: 2.5rem 0 3.25rem 4rem;
}
.content_container {
  display: flex;
  gap: 12px;
}
.cart_title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2rem;
  color: #411530;
}
.span_container {
  position: relative;
  display: flex;
  align-items: center;
}
.span_container > span:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1.25rem;
  right: -0.9375rem;
  border: 0.0625rem solid #411530;
  border-radius: 50%;
  padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #000000;
}
.hr {
  opacity: 0.2;
  border: 0.0625rem solid #411530;
}
.hr_one {
  opacity: 0.2;
  border: 0.0625rem solid #411530;
  margin-bottom: 2.5rem;
}
.product_categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 4rem;
}
.product_list {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: #411530;
}
.product_categories > div:nth-child(1) {
  width: 55%;
}
.categories {
  width: 15%;
}
.grand_total {
  padding: 154px 64px 0 64px;
}
.grand_total > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grand_total > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #121212;
  margin-bottom: 2.125rem;
}
.list {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #411530;
  margin-bottom: 2.125rem;
}
