.empty_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}
.empty_cart > h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.75rem;
  color: #411530;
  margin-bottom: 16px;
}
.empty_cart > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #411530;
  margin-bottom: 150px;
}
